In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('D:\Master_Folder\Data Science Course\Projects\StockMarket\stock_data\SUZLON.NS_2023-01-01_to_2024-11-21.csv', usecols=['Date', 'Day', 'Weekday', 'Month', 'Year', 'Adj Close', 'Adj_Close_Lag_1', 'Adj_Close_Lag_2', 'Adj_Close_Lag_3', 'Upward_Downward_Probability'])

In [4]:
data.head()

,Date,Day,Weekday,Month,Year,Adj Close,Adj_Close_Lag_1,Adj_Close_Lag_2,Adj_Close_Lag_3,Upward_Downward_Probability
0,2023-03-17,17,4,3,2023,8.00,7.90,7.95,7.95,-2.639057
1,2023-03-20,20,0,3,2023,7.75,8.00,7.90,7.95,-2.639057
2,2023-03-21,21,1,3,2023,7.80,7.75,8.00,7.90,-2.639057
3,2023-03-22,22,2,3,2023,7.80,7.80,7.75,8.00,-2.639057
4,2023-03-23,23,3,3,2023,7.75,7.80,7.80,7.75,-2.639057

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         411 non-null    object
 1   Day                          411 non-null    int64
 2   Weekday                      411 non-null    int64
 3   Month                        411 non-null    int64
 4   Year                         411 non-null    int64
 5   Adj Close                    411 non-null    float64
 6   Adj_Close_Lag_1              411 non-null    float64
 7   Adj_Close_Lag_2              411 non-null    float64
 8   Adj_Close_Lag_3              411 non-null    float64
 9   Upward_Downward_Probability  411 non-null    float64
dtypes: float64(5), int64(4), object(1)
memory usage: 32.2+ KB

In [6]:
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)
data.set_index('Date', inplace=True)

C:\Users\Arbaz Khan\AppData\Local\Temp\ipykernel_33692\2675603959.py:1: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 411 entries, 2023-03-17 to 2024-11-19
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Day                          411 non-null    int64
 1   Weekday                      411 non-null    int64
 2   Month                        411 non-null    int64
 3   Year                         411 non-null    int64
 4   Adj Close                    411 non-null    float64
 5   Adj_Close_Lag_1              411 non-null    float64
 6   Adj_Close_Lag_2              411 non-null    float64
 7   Adj_Close_Lag_3              411 non-null    float64
 8   Upward_Downward_Probability  411 non-null    float64
dtypes: float64(5), int64(4)
memory usage: 32.1 KB

In [11]:
data.head()

,Day,Weekday,Month,Year,Adj Close,Adj_Close_Lag_1,Adj_Close_Lag_2,Adj_Close_Lag_3,Upward_Downward_Probability
Date,,,,,,,,,
2023-03-17,17,4,3,2023,8.00,7.90,7.95,7.95,-2.639057
2023-03-20,20,0,3,2023,7.75,8.00,7.90,7.95,-2.639057
2023-03-21,21,1,3,2023,7.80,7.75,8.00,7.90,-2.639057
2023-03-22,22,2,3,2023,7.80,7.80,7.75,8.00,-2.639057
2023-03-23,23,3,3,2023,7.75,7.80,7.80,7.75,-2.639057

In [ ]:
Data.to