In [1]:
import pandas as pd

In [2]:
import yfinance as yf

In [3]:
data = pd.read_csv('stock_data/SUZLON.NS_2024-01-01_to_2024-11-09.csv')

In [4]:
ticker = yf.Ticker('RELIANCE.NS')

In [5]:
# Daily fundamentals based on stock price and static financial info
trailing_eps = ticker.info.get('trailingEps')
book_value = ticker.info.get('bookValue')
print(trailing_eps, book_value)

50.2 605.573

In [6]:
if trailing_eps and book_value:
    data['PE_ratio'] = data['Close'] / trailing_eps
    data['PB_ratio'] = data['Close'] / book_value
else:
    print("Trailing EPS and Book Value data is not available")

In [7]:
data.head()

,Date,Adj Close,Close,High,Low,Open,Volume,SMA_10,SMA_50,EMA_10,...,RSI,EMA_12,EMA_26,MACD,MACD_Signal,SMA_20,Bollinger_Upper,Bollinger_Lower,PE_ratio,PB_ratio
0,2024-03-13,37.35,37.35,39.3,37.35,38.50,38160910,41.155,43.512,40.659,...,28.488,41.101,42.637,-1.536,-0.742,43.310,49.196,37.424,0.744024,0.061677
1,2024-03-14,39.05,39.05,39.2,35.50,35.50,67013191,40.740,43.523,40.367,...,34.748,40.786,42.371,-1.585,-0.910,42.960,48.991,36.929,0.777888,0.064484
2,2024-03-15,39.40,39.40,40.0,37.50,39.00,144957453,40.155,43.546,40.191,...,35.602,40.572,42.151,-1.579,-1.044,42.578,48.485,36.671,0.784861,0.065062
3,2024-03-18,38.55,38.55,38.9,37.70,38.85,22647157,39.580,43.561,39.893,...,36.170,40.261,41.885,-1.624,-1.160,42.162,47.971,36.353,0.767928,0.063659
4,2024-03-19,37.15,37.15,38.4,36.80,38.40,20548501,39.015,43.530,39.394,...,30.928,39.783,41.534,-1.751,-1.278,41.712,47.614,35.810,0.740040,0.061347

In [8]:
balance_sheet = ticker.quarterly_balance_sheet
balance_sheet = balance_sheet.T
balance_sheet = pd.DataFrame(balance_sheet)
balance_sheet.head()
balance_sheet.to_csv('balance_sheet.csv')

In [ ]:
# Check if 'Total Liab' and 'Total Stockholder Equity' exist before calculating Debt_to_Equity
if 'Total Liab' in balance_sheet.columns and 'Total Stockholder Equity' in balance_sheet.columns:
    balance_sheet['Debt_to_Equity'] = balance_sheet['Total Liab'] / balance_sheet['Total Stockholder Equity']
else:
    balance_sheet['Debt_to_Equity'] = np.nan  # Set to NaN if columns are missing

# Check if 'Total Current Assets' and 'Total Current Liabilities' exist before calculating Current_Ratio
if 'Total Current Assets' in balance_sheet.columns and 'Total Current Liabilities' in balance_sheet.columns:
    balance_sheet['Current_Ratio'] = balance_sheet['Total Current Assets'] / balance_sheet['Total Current Liabilities']
else:
    balance_sheet['Current_Ratio'] = np.nan  # Set to NaN if columns are missing