In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('stock_data/SUZLON.NS_2024-01-01_to_2024-11-09.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             163 non-null    object
 1   Adj Close        163 non-null    float64
 2   Close            163 non-null    float64
 3   High             163 non-null    float64
 4   Low              163 non-null    float64
 5   Open             163 non-null    float64
 6   Volume           163 non-null    int64
 7   SMA_10           163 non-null    float64
 8   SMA_50           163 non-null    float64
 9   EMA_10           163 non-null    float64
 10  EMA_50           163 non-null    float64
 11  RSI              163 non-null    float64
 12  EMA_12           163 non-null    float64
 13  EMA_26           163 non-null    float64
 14  MACD             163 non-null    float64
 15  MACD_Signal      163 non-null    float64
 16  SMA_20           163 non-null    float64
 17  Bollinger_Upper  163 non-null    float64
 18  Bollinger_Lower  163 non-null    float64
dtypes: float64(17), int64(1), object(1)
memory usage: 24.3+ KB

In [4]:
data.describe()

,Adj Close,Close,High,Low,Open,Volume,SMA_10,SMA_50,EMA_10,EMA_50,RSI,EMA_12,EMA_26,MACD,MACD_Signal,SMA_20,Bollinger_Upper,Bollinger_Lower
count,163.000000,163.000000,163.000000,163.000000,163.000000,1.630000e+02,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.00000,163.000000,163.000000,163.000000
mean,59.114479,59.114479,60.355153,57.869877,59.283067,6.286118e+07,58.396503,54.850129,58.401123,54.827160,55.528110,58.240810,57.028767,1.212043,1.25592,57.628479,63.826816,51.430141
std,15.444290,15.444290,15.924043,15.253019,15.722788,4.550878e+07,15.519321,13.813888,15.372115,13.186235,16.666507,15.320303,14.698029,2.217812,2.06168,15.388130,17.302487,13.953328
min,36.300000,36.300000,37.650000,35.500000,35.500000,1.466734e+07,37.805000,40.534000,38.110000,41.035000,16.947000,38.455000,40.205000,-2.582000,-2.33200,39.362000,42.668000,34.316000
25%,42.875000,42.875000,43.350000,41.950000,42.900000,3.084609e+07,41.730000,42.892500,41.492000,41.889500,40.793500,41.432000,41.764500,-0.255000,-0.18500,41.781000,47.075500,38.626500
50%,55.200000,55.200000,55.870000,54.000000,55.380000,4.916316e+07,54.551000,48.395000,54.371000,49.689000,59.319000,54.165000,52.360000,1.679000,1.61400,53.404000,56.911000,48.173000
75%,74.250000,74.250000,76.085000,72.910000,74.625000,7.999399e+07,74.662500,68.484000,75.386500,69.475500,67.074000,75.373000,73.065000,2.309500,2.63750,74.666500,83.193500,66.290000
max,84.700000,84.700000,86.040000,83.660000,86.000000,2.818877e+08,82.653000,77.890000,82.009000,74.734000,90.955000,81.669000,79.364000,6.316000,5.72900,80.496000,87.702000,74.256000

In [5]:
data.sample()

,Date,Adj Close,Close,High,Low,Open,Volume,SMA_10,SMA_50,EMA_10,EMA_50,RSI,EMA_12,EMA_26,MACD,MACD_Signal,SMA_20,Bollinger_Upper,Bollinger_Lower
52,2024-06-03,50.0,50.0,50.0,50.0,50.0,62876628,46.26,41.76,46.096,42.906,75.581,45.696,43.969,1.727,1.176,43.47,50.036,36.904

In [6]:
data.isnull()

,Date,Adj Close,Close,High,Low,Open,Volume,SMA_10,SMA_50,EMA_10,EMA_50,RSI,EMA_12,EMA_26,MACD,MACD_Signal,SMA_20,Bollinger_Upper,Bollinger_Lower
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
159,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
160,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
161,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
162,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False